@font-face{
    font-family: "visby-round";
    src: url("visby-round/OTF/VisbyRoundCF-Regular.otf");
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    font-family: "visby-round";
    background: url("images/grey_wash_wall.png");
}

#main-container{
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: auto;
}

#left-container{
    background: url("images/city.jpg") center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    max-height:300px;
}

#suggestion-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 1.5rem 0;
}

#suggestions{
    width: 75%;
    max-width: 300px;
    font-family: "visby-round";
    background: rgba(57, 63, 84, 0.8);
    color: #ACA8A8;
    display: none;
    max-height: 100px;
    overflow: scroll;
    overflow-x: hidden;
}

#suggestions p{
    font-size: 1rem;
}

ul li{
    padding: .5rem 0 0 .3rem;
    font-size: 1.3rem;
    list-style-type: none;
}

ul li:hover{
    color: #FF9595;
    cursor: pointer;
}

::-webkit-scrollbar{
    width:3px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
  }


input { 
    border-style: none; 
    background: transparent; 
    outline: none; 
}

#input-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 75%;
    min-height: 60px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: .5rem;
    border-radius: 2px;
    padding-left: 1rem;
    background: rgba(57, 63, 84, 0.8);
  }
  
#input-container::after{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #FF0808, #FF4753, #fff, #FF4753, #FF0808, #F87B7B);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}
  
#input-container input{
    flex-grow: 1;
    color: #ACA8A8;
    font-size: 1.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    font-family: "visby-round"
}
  
#input-container button{
    background: none;
    border: none; 
    outline: none; 
    padding-right: 1rem;
    font-size: .6rem;
}
  
button:hover {
    color: #ACA8A8;
    cursor: pointer;
}

#right-container{
    background: url("images/grey_wash_wall.png");
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#header-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading{
    font-size: 2.5rem;
}

#example-selection-container, #example-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#step1-text-container, #step2-text-container{
    padding: .4rem 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

#step1-text-container em, #step2-text-container em{
    font-size: 1rem;
}

.stepsText{
    font-size: 1.6rem;
}

#exampleImg2, #exampleImg4{
    display: none;
}

#exampleImg1{
    width:200px;
    height:60px;
}

#exampleImg3{
    width:200px;
    height:100px;
}

#row1, #row2, #row3, #row4, #row5, #row6, #row7{
    flex-direction: column;
}

.card-caption-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #FEFFEE;
}

.card-caption-text-container{
    display: flex;
}

.card-caption{
    font-size: 1.5rem;
}

.card{
    display: grid;
    grid-template-columns: .5fr 2fr;
    border-bottom: 1px solid #656565;    
    overflow-x: visible;
}

#row1 p, #row2 p, #row3 p, #row4 p, #row5 p, #row6 p, #row7 p{
    padding: .7rem 0 .7rem .5rem;
}

#modal{
    display: none;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-content{
    background: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width:80%; 
    height:90%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalOpen;
    animation-duration: 1s;
    border-radius: 10px;
}

#modalTitleContainer, #modalAddressContainer, #modalTimingContainer, #modalPricingContainer, #modalRatingContainer{
    display: flex;
    align-items: center;
    overflow: hidden;
}

#modalAddressContainer, #modalPricingContainer{
    background: #F87B7B;
}

#modalTitleIcon, #modalAddressIcon, #modalTimingIcon, #modalPricingIcon, #modalRatingIcon{
    height:30px;
    width:30px;
    display: inline-block;
    padding: 0 .2rem;
}

#modalTitle, #modalAddress, #modalTiming, #modalPricing, #modalRating{
    display: inline;
    padding: 0 1rem;
    font-family: "visby-round";
    font-weight: bold;
    font-size: 1.4rem
}

#modalTitle{
    text-decoration: underline;
    flex:10;
}

#closeBtn{
    color:#000;
    font-size: 3.5rem;
    flex:1;
}

#closeBtn:hover{
    color: #ACA8A8;
    cursor: pointer;
}

@keyframes modalOpen{
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes gradient { 
    0%{background-position:0 0}
    100%{background-position:100% 0}
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }