*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@font-face{
    font-family: "visby-round";
    src: url("visby-round/OTF/VisbyRoundCF-Regular.otf");
}

#main-container{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns:1fr 1.75fr;
}

#left-container{
    background-image:url("images/city.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    /* Maybe add blur to background 
    filter: blur(1px);
    -webkit-filter: blur(1px); */
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;

}

input { 
    border-style: none; 
    background: transparent; 
    outline: none; 
}

::placeholder{
    font-size: 1.4rem;
    font-family: "visby-round"
}

#input-container{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 22%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding-left: 1rem;
  background: rgba(57, 63, 84, 0.8);
}

#input-container::after{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #FF0808, #FF4753, #fff, #FF4753, #FF0808, #F87B7B);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

/* make animation smoother for input */

#input-container input{
    flex-grow: 1;
    color: #ACA8A8;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
    font-family: "visby-round"
}

/* .webflow-style-input button {
    padding-right: 1rem;
    color: #7881A1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color .25s;
} */

#input-container button{
    background: none;
    border: none; 
    outline: none; 
    padding-right: 1rem;
}


/* button {  
    background: none;
    border: none; 
    outline: none; 
} */

button:hover {
    color: #ACA8A8;
    cursor: pointer;
}

#right-container{
    background: url("images/grey_wash_wall.png");
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 0;
}

@keyframes gradient { 
    0%{background-position:0 0}
    100%{background-position:100% 0}
  }

#header-container{
    width:100%;
    height:100%;
}

#heading{
    font-family: "visby-round";
    text-align: center;
    font-size: 4rem;
    padding: 5rem 0 0 0;
}

#step1-container{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 1fr 1.5fr;
}

#step1-text-container{
    width:100%;
    height:100%;
}

.stepsText{
    font-family: "visby-round";
    font-size: 1.7rem;
    padding: 1.5rem 4rem;
    margin: 0;
}

.stepsText em{
    font-size: 1rem;
}

#exampleSelection{
    width:100%;
    height:100%;
}

#exampleSelection img{
    width:400px;
    height:100px;
    padding-left:4rem;
}

#step2-container{
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: .5fr 1fr;
    justify-items: center;
    align-items: end;
}

#step2-text-container{
    width: 100%;
    height:100%;
}

#example-cards-container{
    width:100%;
    height:100%;
}

#box1{
    width:200px;
    height:100px;
    padding-left:4rem;
}

.red{
    color:#FF0808;
    padding:0;
    margin:0;
}

.card-container{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:90%;
    height:85%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.1),
    0 22.3px 17.9px rgba(0, 0, 0, 0.16),
    0 29px 33.4px rgba(0, 0, 0, 0.23),
    0 45px 80px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 15px 15px;
}

.card-picture{
    width:100%;
    height:100%;
    background:url('images/example.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}

.card-caption-container{
    width:100%;
    height:100%;
    background: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items:center;
    border-radius: 0 0 15px 15px;
    border-top: thin solid #f2f2f2;
}

.card-caption-text-container{
    width:100%;
    height:50%;
}

.card-caption-price-container{
    width:100%;
    height:50%;
}

.card-caption{
    font-family: "visby-round";
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight:bold;
}




/* going to use images of cards for the examples in step 2 container */
/* add new branch and style the right container better. put border bottom for 
heading container and a lighter red background for the steps container */





